.direct-message-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  .direct-message-header {
    padding: 18px 8px 4px 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .title {
      font-size: 11px;
      color : #83868c; 
      font-weight: 700;
    }
  }
  .direct-message-list {
    padding : 0 10px;
  }
}
