* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif; 
  list-style-type: none;
  
}

body {
  background-color: #202225;
  height: 100vh;
  width: 100vw;
}
